body {
        background: linear-gradient(#829bd7, #e5bb87);
        width: 1280px;
        height: 721px;
        overflow-x: hidden;
        font-family: "Poppins", sans-serif;
        top:740px;
    }
    
.logo{
    position:absolute;
    width:30px;
    top:30px;
    left:40px;
}
.text-logo{
    position:absolute;
    top:35px;
    left:75px;
    font-size: bold;
}
.container{
    position:absolute;
    right:0;
    margin:25px;
    padding-left:30px;
}
.container a {
    float:left;
    color:black;
    text-decoration: none;
    padding-left:20px;
}
.drone{
    position: absolute;
    width: 686px;
    height: 445px;
    top:143px;
    left:583px;

}
.section1{
    display:flex;
    justify-content: space-between;
}
.text{
    margin-top: 167px;
    margin-left: 20px;
}
.para1{
    font-size: 37px;
    font-weight: bold;
    color: white;
    margin-left:30px;
}
.para2{
    color: white;
    font-size: 15px;
    width:400px;
    margin-left:30px;
}
#devis{
    padding: 18px;
    margin: 20px;
    margin-left:100px;
    background-color: #feb75f;
    border: none;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bolder;
}
.section2{
    position: absolute;
    background-color: white;
    top:737px;
    left: -1px;
    padding: 31px;
    width: 1470px;
}
.text1{
    font-weight: 900;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
}
.text2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.prop{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 157px;
    margin: 35px;
    justify-content: center;
    padding-left: 35px;
}
.title{
    font-weight: 900;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    color :#2958D2
}
.desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.section3{
   position: absolute;
    width: 1535px;
    height: 731px;
    top: 1412px;
    border: 1px;
    background-color: #FFB860;
    left: 0px;
}
.title1{
   font-weight: 900;
   font-size: 43px;
   line-height: 55px;
   text-align: center;
}
#poids{
    width: 150px;
    border-radius: 10px;
    border: 1px solid black;
    height: 50px;
    padding-right: 53px;
} 
.chihaja{
   display: flex;
    margin-top: 200px;
  margin-left: 169px;
}
.dim{
    margin-right: 61px;
}
#langeur{
    width: 176px;
    height: 50px;
    border-radius: 10px;
}
#largeur{
    width: 176px;
    height: 50px;
    border-radius: 10px;
}
#hauteur{
    width: 176px;
    height: 50px;
    border-radius: 10px
}
#userselect{
width: 176px;
    height: 50px;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px solid black;
}
#calculer{
   position: absolute;
    top: 581px;
    left: 634px;
    width: 208px;
    height: 48px;
    background-color: #2958D2;
    color: white;
    border: none;
    font-weight: 900;
    border-radius: 10px;
}


